<div class="register-container">
    <div class="register">
        <div class="container">
            <div class="title">Regístrate como postulante</div>
            <div class="body">
                <form [formGroup]="frmGroup">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <mat-icon matPrefix>person</mat-icon>
                                <input formControlName="nombre" name="name" matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Apellidos</mat-label>
                                <mat-icon matPrefix>person</mat-icon>
                                <input formControlName="apellidos" name="lastname" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Cédula</mat-label>
                                <mat-icon matPrefix>perm_contact_calendar</mat-icon>
                                <input formControlName="cedula" name="cedula" matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Teléfono</mat-label>
                                <mat-icon matPrefix>local_phone</mat-icon>
                                <input formControlName="telefono" name="tel" matInput type="tel" placeholder="809-000-0000">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Correo electrónico</mat-label>
                                <mat-icon matPrefix>alternate_email</mat-icon>
                                <input formControlName="correo" name="email" matInput type="email" placeholder="main@example.com">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Repetir electrónico</mat-label>
                                <mat-icon matPrefix>alternate_email</mat-icon>
                                <input formControlName="repetirCorreo" name="repeatemail" autocomplete="none" matInput type="email">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <mat-icon matPrefix>lock_open</mat-icon>
                                <input formControlName="clave" name="password" matInput type="password">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Repetir contraseña</mat-label>
                                <mat-icon matPrefix>lock_open</mat-icon>
                                <input formControlName="repetirClave" name="repeatpassword" matInput type="password">
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <div class="buttons">
                    <button mat-raised-button color="warn" type="button" (click)="save()">Crear cuenta</button>
                </div>
            </div>
        </div>
    </div>
</div>