<div class="register-container">
    <div class="register">
        <div class="container">
            <div class="title">SGR</div>
            <div class="body">
                <form [formGroup]="frmGroup">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <mat-icon matPrefix>person</mat-icon>
                                <input formControlName="username" name="username" matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <mat-icon matPrefix>lock_open</mat-icon>
                                <input formControlName="password" name="password" matInput type="password">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button color="primary" type="button" (click)="singin()">Iniciar
                            sesión</button>
                    </div>
                    <div class="divider"></div>
                    <div class="nouser">
                        ¿No tienes usuario?
                    </div>
                    <div class="buttons">
                        <button mat-raised-button color="warn" type="button" (click)="singup()">Regístrate</button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="row">
            <div class="author">Creado por Michael Vallejo Cabrera</div>
        </div>
    </div>
</div>