.usercreated-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1976d2;
}

.user-message {
    .subtitle {
        text-align: center;
        padding: 20px;
    }
    width: 400px;

}

.subtitle {
    color: whitesmoke;
}

.container {
    background-color: white;

    .title {
        color: #1976d2;
    }
}