.page {
  padding-left: 300px;
  padding-top: 60px;
}

.page-body {
  padding: 20px;
  overflow-y: auto;
}

.title {
    padding: 15px;
    //width: 100%;
    background-color: whitesmoke;
    color: #1976d2;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px #AAA;
}