<app-page title="Usuarios">

    <div class="container">
        <div class="title">Administrar usuario</div>
        <div class="body">
            <form [formGroup]="frmGroup">
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de usuario</mat-label>
                            <mat-icon matPrefix>face</mat-icon>
                            <input formControlName="nombreUsuario" name="usuario" matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <mat-icon matPrefix>lock_open</mat-icon>
                            <input formControlName="clave" name="clave" matInput type="password">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <mat-icon matPrefix>person</mat-icon>
                            <input formControlName="nombre" name="nombre" matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <mat-icon matPrefix>person</mat-icon>
                            <input formControlName="apellidos" name="apellidos" matInput type="text">
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo electrónico</mat-label>
                            <mat-icon matPrefix>email</mat-icon>
                            <input formControlName="correo" name="correo" matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Cédula</mat-label>
                            <mat-icon matPrefix>perm_contact_calendar</mat-icon>
                            <input formControlName="cedula" name="cedula" matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Teléfono</mat-label>
                            <mat-icon matPrefix>local_phone</mat-icon>
                            <input formControlName="telefono" name="telefono" matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Role</mat-label>
                            <mat-icon matPrefix>security</mat-icon>
                            <mat-select formControlName="role">
                                <mat-option [value]="Role.Guest">Candidato</mat-option>
                                <mat-option [value]="Role.RRHH">Recursos Humanos</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <section class="middle">
                            <mat-checkbox formControlName="estado" [value]="1">Activo</mat-checkbox>
                        </section>
                    </div>
                </div>
                <div class="row buttons">
                    <div *ngIf="editing" class="col-2 col-t-4">
                        <button type="button" mat-raised-button color="accent" (click)="edit()">
                            <mat-icon>edit</mat-icon>
                            Editar
                        </button>
                    </div>
                    <div *ngIf="editing" class="col-2 col-t-4">
                        <button type="button" mat-stroked-button (click)="reset()">
                            <mat-icon>brush</mat-icon>
                            Limpiar
                        </button>
                    </div>
                    <div *ngIf="!editing" class="col-2 col-t-4">
                        <button type="button" mat-raised-button color="primary" (click)="save()">
                            <mat-icon>save</mat-icon>
                            Agregar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="title">Listado de usuarios
            <div class="items-per-page">
                <select [(ngModel)]="paginatorOptions.itemsPerPage">
                    <option [value]="5">5</option>
                    <option [value]="10">10</option>
                    <option [value]="15">15</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="200">200</option>
                </select>
            </div>
        </div>
        <div class="body">
            <div class="search-container">
                <mat-form-field class="example-form-field" appearance="outline">
                    <mat-label>Buscar</mat-label>
                    <input matInput type="text" [(ngModel)]="searchValue" (ngModelChange)=search()>
                    <mat-icon matPrefix>search</mat-icon>

                    <button *ngIf="searchValue" matSuffix mat-icon-button (click)="searchValue=''; search()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <table class="tbl">
                <thead>
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Cédula</th>
                        <th>Teléfono</th>
                        <th>Role</th>
                        <th class="right">Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="FILTERED_TABLEDATA.length == 0" colspan="7" class="nodata">No hay resultados para mostrar</td>
                    </tr>
                    <tr *ngFor="let data of FILTERED_TABLEDATA | paginate: paginatorOptions" (dblclick)="openEdit(data)" title="Doble click para editar">
                        <td>{{data.nombreUsuario | uppercase}}</td>
                        <td>{{data.nombre}}</td>
                        <td>{{data.apellidos}}</td>
                        <td>{{data.correo}}</td>
                        <td>{{data.cedula}}</td>
                        <td>{{data.telefono}}</td>
                        <td>{{data.role | role}}</td>
                        <td class="right">{{data.estado | state}}</td>
                        <td class="right">
                            <button class="warning" mat-icon-button title="Editar" (click)="openEdit(data)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="danger" mat-icon-button title="Eliminar" (click)="delete(data)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="result-count">
                {{FILTERED_TABLEDATA.length}}/{{TABLEDATA.length}} resultados
            </div>
            <div class="paginator">
                <pagination-controls (pageChange)="paginatorOptions.currentPage = $event"></pagination-controls>
            </div>
        </div>
    </div>
</app-page>