<app-page title="Inicio">
    <div class="co">
        <div class="me">
            <div class="title" title="Asignatura">
                Sistema de gestión de reclutamiento
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-3 icon">
                        <mat-icon [inline]="true">face</mat-icon>
                    </div>
                    <div class="col-9">
                        <div class="row" title="Autor">Michael Vallejo Cabrera</div>
                        <div class="row" title="Matrícula">20182269</div>
                        <div class="row" title="Carrera">Ingeniería de Software</div>
                    </div>
                </div>
                <div class="row tec" title="Tecnologías utilizadas">Angular 10 | ASP.Net Core 3.1 | MariaDB 10.5</div>
            </div>
        </div>
    </div>
</app-page>