<app-page title="Competencias">

    <div class="container">
        <div class="title">Administrar competencia</div>
        <div class="body">
            <form [formGroup]="frmGroup">
                <div class="row">
                    <div class="col-3">
                        <mat-form-field class="example-form-field" appearance="outline">
                            <mat-label>Descripción</mat-label>
                            <mat-icon matPrefix>article</mat-icon>
                            <input formControlName="descripcion" name="skill" matInput type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <section class="middle">
                            <mat-checkbox formControlName="estado" [value]="1">Activo</mat-checkbox>
                        </section>
                    </div>
                </div>
                <div class="row buttons">
                    <div *ngIf="editing" class="col-2 col-t-4">
                        <button type="button" mat-raised-button color="warn" (click)="edit()">
                            <mat-icon>edit</mat-icon>
                            Editar
                        </button>
                    </div>
                    <div *ngIf="editing" class="col-2 col-t-4">
                        <button type="button" mat-raised-button (click)="reset()">
                            <mat-icon>brush</mat-icon>
                            Limpiar
                        </button>
                    </div>
                    <div *ngIf="!editing" class="col-2 col-t-4">
                        <button type="button" mat-raised-button color="primary" (click)="save()">
                            <mat-icon>save</mat-icon>
                            Agregar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="title">Listado de competencias
            <div class="items-per-page">
                <select [(ngModel)]="paginatorOptions.itemsPerPage">
                    <option [value]="5">5</option>
                    <option [value]="10">10</option>
                    <option [value]="15">15</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="200">200</option>
                </select>
            </div>
        </div>
        <div class="body">
            <div class="search-container">
                <mat-form-field class="example-form-field" appearance="outline">
                    <mat-label>Buscar</mat-label>
                    <input matInput type="text" [(ngModel)]="searchValue" (ngModelChange)=search()>
                    <mat-icon matPrefix>search</mat-icon>

                    <button *ngIf="searchValue" matSuffix mat-icon-button (click)="searchValue=''; search()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <table class="tbl">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th class="right">Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="FILTERED_TABLEDATA.length == 0" colspan="3" class="nodata">No hay resultados para mostrar</td>
                    </tr>
                    <tr *ngFor="let data of FILTERED_TABLEDATA | paginate: paginatorOptions" (dblclick)="openEdit(data)" title="Doble click para editar">
                        <td>{{data.descripcion}}</td>
                        <td class="right">{{data.estado | state}}</td>
                        <td class="right">
                            <button class="warning" mat-icon-button title="Editar" (click)="openEdit(data)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="danger" mat-icon-button title="Eliminar" (click)="delete(data)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="result-count">
                {{FILTERED_TABLEDATA.length}}/{{TABLEDATA.length}} resultados
            </div>
            <div class="paginator">
                <pagination-controls (pageChange)="paginatorOptions.currentPage = $event"></pagination-controls>
            </div>
        </div>
    </div>
</app-page>